@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.light-bg {
  background-color: #b6c9e9;
  color: #000;
}
.bright-bg {
  background-color: #0080ff;
  color: #ffe;
}
.dark-bg {
  background-color: #1d2951;
  color: #ffe;
}
.dark-bg--inverse {
  background-color: #ffe;
  color: #1d2951;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Rubik';
  text-align: center;
}

.headline {
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: 'Play';
}
h1 {
  font-size: 64pt;
}
.navbar {
  display: inline-block;
  overflow: hidden;

  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 10px;

  font-size: 24pt;
}
.navbar > a {
  transition: .7s;

  padding-left: 10px;
  padding-right: 10px;

  text-decoration: none;
}
.navbar > a:hover {
  background-color: #ffe;
  color: #1d2951;
}

.content__main-block {
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 15px;

  font-size: 16pt;
}
/*tr:nth-child(odd) {
  background-color: #7285a5;
}*/
th {
  border-bottom: 3px solid black;
}
td, th {
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

form {
  padding-left: 15px;
  padding-right: 15px;
}

.grid {
  display: grid;
  grid-template-columns: auto 250px;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;
}
.grid > * {
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}

/*.message {
  position: fixed;
  top: 20px;
  right: 20px;

  border-radius: 5px;
  padding: 5px;

  font-size: 12pt;

  background-color: #0005;
  color: #ffe;
}*/

.form-error {
  font-size: 10pt;
  
  color: red;
}
.both-columns {
  grid-column: 1 / 3;
}

.footnote {
  border-top: 1px solid #aaa;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 10px;

  font-size: 10.5pt;
}

