{% extends "layout.html" %}
{% block content %}
  <form method="POST" action="" class="content__main-block light-bg">
    {{ form.hidden_tag() }}
    <div class="grid">
      {% block form %}
      {% endblock form %}
    </div>
    {{ form.submit(class="") }}
  </form>
  <div class="footnote">
    {% block footnote %}
    {% endblock footnote %}
  </div>
{% endblock content %}
