{# Main Layout Template #}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    {% if title %}
      <title>ТЮМ-2019 » {{ title }}</title>
    {% else %}
      <title>ТЮМ</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
  </head>
  <body>
    <h1 class="headline">ТЮМ-2019</h1>
    <div class="navbar">
      <a href="{{ url_for('status') }}" class="dark-bg">Статус</a><a href="{{ url_for('submit') }}" class="{% if title == 'Додати' %}dark-bg--inverse{% else %}dark-bg{% endif %}">Додати</a><a href="{{ url_for('stats') }}" class="{% if title == 'Статистика' %}dark-bg--inverse{% else %}dark-bg{% endif %}">Статистика</a><a href="http://tym.in.ua/wp-content/uploads/2019/05/%D0%A5%D0%A5I%D0%86_TYM_problems.pdf" target="_blank" class="dark-bg">Умови</a>
    </div>
    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
    {% if messages and messages.__len__() > 0 %}
      <div class="message">
        {% for message in messages %}
          {{message}}<br/>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </body>
</html>
