{% extends "form.html" %}
{% block form %}
  {{ form.hidden_tag() }}
  {{ form.username.label(class="") }}
  {{ form.username(class="") }}
  {% if form.username.errors %}
    <div class="both-columns">
      {% for error in form.username.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
  {{ form.password.label(class="") }}
  {{ form.password(class="") }}
  {% if form.password.errors %}
    <div class="both-columns">
      {% for error in form.password.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
  {{ form.confirm.label(class="") }}
  {{ form.confirm(class="") }}
  {% if form.confirm.errors %}
    <div class="both-columns">
      {% for error in form.confirm.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock form %}
{% block footnote %}
  Запит буде розглянуто протягом 72 годин.
{% endblock footnote %}
