{% extends "layout.html" %}
{% block content %}
  {% if problems %}
    <table class="content__main-block light-bg">
      <tr>
        <th>#</th>
        <th>Стан</th>
        <th>Учасник</th>
        <th>Узаг.</th>
        <th>Доп.</th>
      </tr>
      {% for problem in problems %}
        <tr>
          <td>{{ problem['number'] }}</td>
          {% if problem['username'] %}
            <td style="font-weight:bold;color:{{ problem_state_colours[problem['state']] }}">{{ problem_states[problem['state']] }}</td>
            <td>{{ problem['username'] }}</td>
          {% else %}
            <td style="color:#888">{{ problem_states[problem['state']] }}</td>
            <td style="color:#888">Ніхто</td>
          {% endif %}
          {% if problem['generalized'] %}
            <td>&#10004;</td>
          {% else %}
            <td>&#10008;</td>
          {% endif %}
          {% if problem['report_ready'] %}
            <td>&#10004;</td>
          {% else %}
            <td>&#10008;</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h2 class="headline">Немає інформації про завдання.</h2>
  {% endif %}
  <div class="footnote">
    За наявності проблеми в роботі сайту звертайтеся в Телеграм <a href="https://t.me/{{ dev_contact[1:] }}" target="_blank">{{ dev_contact }}</a>.
  </div>
{% endblock content %}
