{% extends "form.html" %}
{% block form %}
  {{ form.problem.label(class="") }}
  {{ form.problem(class="") }}
  {% if form.problem.errors %}
    <div class="both-columns">
      {% for error in form.problem.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
  {{ form.state.label(class="") }}
  {{ form.state(class="") }}
  {% if form.state.errors %}
    <div class="both-columns">
      {% for error in form.state.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
  {{ form.generalized.label(class="") }}
  {{ form.generalized(class="") }}
  {% if form.generalized.errors %}
    <div class="both-columns">
      {% for error in form.generalized.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
  {{ form.report_ready.label(class="") }}
  {{ form.report_ready(class="") }}
  {% if form.report_ready.errors %}
    <div class="both-columns">
      {% for error in form.report_ready.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
  {{ form.username.label(class="") }}
  {{ form.username(class="") }}
  {% if form.username.errors %}
    <div class="both-columns">
      {% for error in form.username.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
  {{ form.password.label(class="") }}
  {{ form.password(class="") }}
  {% if form.password.errors %}
    <div class="both-columns">
      {% for error in form.password.errors %}
        <div class="form-error">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock form %}
{% block footnote %}
  Немає облікового запису? <a href="{{ url_for('register') }}">Зареєструватися</a>
{% endblock footnote %}
